* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
}
body {
  background-color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: justify;

  position: relative;
  hyphens: auto;
  overflow-x: hidden;
}
/*header*/

header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(to left, #c1d04e, #6e7ea6);
  padding: 0.8rem;
  box-shadow: 0px 0.5px 10px #0000007a;
  display: flex;
  justify-content: space-between;
}
.title {
  color: #d5d5d5;
  text-shadow: 0px 0px 10px #0000007a;
  text-align: left;
}
section.quiz-container {
  margin-top: 1rem;
  padding: 0 2rem;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0000001a;
  max-width: 500px;
  margin: auto;
}

.quiz-container > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.question {
  margin-bottom: 23px;
  max-width: 400px;
}
.question > p {
  margin-bottom: 8px;
}
.question > label {
  display: inline-block;
  margin-bottom: 7px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4b9c4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #94db43;
}

#mostrar {
  visibility: hidden;
}

#result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

canvas#myChart {
  width: 400px;
  height: 400px;
}

/*Fugir*/

#fugir {
  max-width: 400px;
  height: 200px;
  margin: 4rem auto;
  font-size: 0.8rem;
  position: relative;
}

div#btns {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.btn {
  width: 6rem;
}

footer {
  padding: 0.8rem;
  background-image: linear-gradient(-60deg, #6e7ea6, #c1d04e);
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

footer p {
  color: #d5d5d5;
}

footer a {
  color: black;
}
